.intro-section {
    padding-top: 150px;
    padding-bottom: 150px;
    background: #eee;
}

#footer {
    padding: 50px;
    background-color: #eee;
}

#footer a{
    color: #444;
}


@media screen and (max-width: 768px) {
    .col{
        flex: 100%;
    }

    .text-end{
        text-align: left !important;
    }

    .nav-item{
        font-size: 0.66em;
        background: #e7e7e7;
        margin: .3em .2em;
        border-radius: .25rem;
    }

    .nav-link{
        padding: .4em .6em;
        text-transform: uppercase;
    }

    .nav-item:hover{
        background: #0d6efd;
    }

    .nav-item:hover > a{
        color: #fff;
    }
}